html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 70px;

}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
}

.cart-icon {
    font-size: 1.5rem;
    position: relative;
    margin-right: 15px;
}

.fixed-top {
    z-index: 1030;
    /* Asegura que el header esté por encima de otros elementos */
}

.trash-icon {
    font-size: 1.5rem;
    color: white;
}

.logout-icon {
    font-size: 1.5rem;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logout-icon i {
    font-size: 1.5rem;
}

.d-flex .logout-icon {
    margin-left: 15px;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
}

.cart-icon.animate {
    animation: blink 0.3s ease-in-out 2;
}

@keyframes blink {

    0%,
    100% {
        color: white;
    }

    50% {
        color: yellow;
    }
}

.product-card img {
    height: 250px;
}

.modalSize {
    font-size: 4rem;
}

.main-content {
    flex: 1;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #f8f9fa;
}